@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container{
  justify-content: center;
  margin: 30px auto;
  max-width: 500px;
  min-height: 300px;
  border: 1px solid black;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.button{
  width: 60px;
  height: 40px;
  background-color: aquamarine;
}

.task{
  margin-bottom: 5px;
  margin-left: 35%;
}