@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* min-height: 100vh; */

}

.container{
  justify-content: center;
  margin: 30px auto;
  max-width: 66vh;
  min-height: 300px;
  border: 1px solid black;
  padding: 30px;
  border-radius: 5px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  /* justify-content: space-evenly; */
}

.button{
  width: 60px;
  height: 40px;
  /* primeste prin intermediul css culoarea */
  background-color: aquamarine;   
  display: inline-block;
}

.task{
  margin-bottom: 14px;
  border: 1px solid black;
  border-radius: 4%;
  width: 45%;
  text-align: center;
  background-color: rgb(236, 232, 232);
}

.task.reminder{
  border-left: 5px solid green
}